:root {
    --nome-da-variavel: #1c1c1c;
    /*e então usa-se a propria variavel ao invés da cor, ex: color: --nome-da-variavel;*/
}

section {
    font-size: 130%;
}

.menu {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    background-color: darkcyan;

    border-style: solid;
    border-color: cyan;
}

.menu a {
    background-color: darkcyan;
    width: fit-content;
    display: flex;
    text-decoration: none;
    color: cyan;
    border: 3px;
    border-color: cyan;
    border-style: solid;
    box-shadow: 2px 2px 2px black;

}

.menu h3 {
    display: flex;
    background-color: darkcyan;
    width: 700px;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.menu img {
    display: flex;
    height: 100px;
    border-left: 0px;
    border-color: cyan;
    border-style: solid;
}

.classes-div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    width: fit-content;
}

.classes-div img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.class {
    padding: 5%;
    text-align: center;
    flex-wrap: wrap;
}

.screenshots-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    max-width: 930px;
}

.screenshots-div img {
    display: flex;
    padding: 1%;
    width: 290px;
    height: 180px;
}

.team-div{
    display: flex;
    flex-wrap: wrap;
    
}
.squad-div{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
}
.squad-div h4{
    margin-right: 10px;
}

.character-div{
    display: flex;
    flex-wrap: wrap;
    width: 246px;
    background-color: lightgray;
    padding: 1%;
}

.hidden {
    display: none;
}

.hidden p {
    display: flex;
    
    width: 185px;
}

.show-hidden:checked+.show-hidden-label+.hidden {
    display: contents;
}

.show-hidden {
    display: none;
}

.show-hidden-label {
    display: flex;
    width: fit-content;
    justify-content: right;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: darkcyan;
    color: cyan;
    border: solid;
    border-color: cyan;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 4px black;
}

.show-hidden:checked+.show-hidden-label {
    background-color: cyan;
    color: darkcyan;
    border-color: darkcyan;
}

@media (max-width: 473px) {
    .menu {
        display: flex;
        height: 160px;
        justify-content: space-between;
        align-items: center;
        background-color: darkcyan;

        border-style: solid;
        border-color: cyan;
    }

    .menu a {
        background-color: darkcyan;
        width: 150px;
        display: flex;
        text-decoration: none;
        color: cyan;
        border: 3px;
        border-color: cyan;
        border-style: solid;
        box-shadow: 2px 2px 2px black;
        justify-content: center;
        margin: 1%;
    }

    .menu h3 {
        display: flex;
        background-color: darkcyan;
        width: fit-content;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }

    .menu img {
        display: flex;
        height: 100px;
        border-left: 0px;
        border-color: cyan;
        border-style: solid;
    }
}